{% extends 'base.html' %}



{% block body %}


<br>
<br>

<div class="container" style="border:1px solid rgba(200, 200, 200, 0.15); border-radius: 5px; background: #f8f8f8;" >

    <h3 style="padding-left:8px; padding-bottom:15px"><strong>Completed orders</strong></h3>

{% for order_id, order_data in orders.items %}
<div class="container-fluid rounded" style="border:1px solid #ffffff; border-radius: 5px; background: #ffffff; margin-bottom:10px;padding-left:25px; padding-top:5px" >
 <table class="table table-striped" style="width:80%">
<div class="container-fluid rounded"style="border-bottom:1px solid rgba(200, 200, 200, 0.15);padding:0px">   
    <h4>Order # {{order_id}}</h4>
</div>

  <tr>
    <th>Category</th>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Price</th>

  </tr>

{% for order_subid, contents in order_data.items %}

    {% if order_subid != 'user_ID' or order_subid != 'address' or order_subid != 'phone' or order_subid != 'total' or order_subid != 'order_date' or order_subid != 'payment_status'  %}

  <tr>
        {% for label, item in contents.items %}

    <td height="30px" >{{ item }}</td>

        {% endfor %}

  </tr>

    {% endif %}

    {% if order_subid == 'address' %}

    <dl class="row">
        <dt class="col-sm-3">Address :</dt>
        <dd class="col-sm-9">{{contents}}</dd>

    {% endif %}

    {% if order_subid == 'phone' %}

    <dl class="row">
        <dt class="col-sm-3">Phone :</dt>
        <dd class="col-sm-9">{{contents}}</dd>

    {% endif %}

    {% if order_subid == 'order_date' %}

    <dl class="row">
        <dt class="col-sm-3">Order Date :</dt>
        <dd class="col-sm-9">{{contents}}</dd>

    {% endif %}


    {% if order_subid == 'total' %}

    <dl class="row">
        <dt class="col-sm-3">Total Amount :</dt>
        <dd class="col-sm-9">{{contents}}</dd>

    {% endif %}

    {% if order_subid == 'payment_status' %}

    <dl class="row">
        <dt class="col-sm-3">Payment Status :</dt>
        <dd class="col-sm-9">{{contents}}</dd>

    {% endif %}

  {% endfor %}

  <br>

</table>

</div>
 {% endfor %}
</div>
<br><br>

{% endblock %}
